<footer>
  <div class="footer">
    <div class="footer_center">
      <!--<div class="footer_info">
        <div class="footer_info_1 fl">
          <div class="footer_info_1_pic fl">
            <p class="pic_shadow"></p>
          </div>
          <div class="footer_info_1_title fl">
            <h2>Senior Cards</h2>
            <p>20% off the price</p>
          </div>
          <div class="cf"></div>
        </div>
        <div class="footer_info_2 fl">
          <div class="footer_info_2_pic fl">
            <p class="pic_shadow"></p>
          </div>
          <div class="footer_info_2_title fl">
            <h2>26-28 May</h2>
            <p>workout for free!</p>
          </div>
          <div class="cf"></div>
        </div>
        <div class="footer_info_3 fl">
          <div class="footer_info_3_pic fl">
            <p class="pic_shadow"></p>
          </div>
          <div class="footer_info_3_title fl">
            <h2>Rooms For Rent</h2>
            <p>call +123 655 655</p>
          </div>
          <div class="cf"></div>
        </div>
        <div class="cf"></div>
      </div> -->
      <div class="footer_gimnasio">
        <!--<div class="footer_signup fl">
          <h1 class="footer_signup_title">Abunə yazıl</h1>
          <p class="footer_signup_desc">Bizim ən son xəbərləri email ünvanından izlə.</p>
          <form>
            <input class="footer_signup_input" type="text" placeholder="Name">
            <input class="footer_signup_input" type="text">
            <button class="footer_signup_button">Təsdiqlə</button>
          </form>
         <!-- <a class="footer_signup_enter" href="#">Daxil ol</a>-->
         <!-- <a class="footer_signup_register" href="#">Qeydiyyat</a>-->
        </div>-->
       <!-- <div class="footer_news fl">
          <h1 class="footer_news_title">Xəbərlər</h1>
          <div class="footer_news_item">
            <ul class="footer_news_item_date fl">
              <li>19</li>
              <li>Fevral</li>
              <li>2016</li>
            </ul>
            <div class="footer_news_item_line fl"> </div>
            <div class="footer_news_item_info fl">
              <h4>FIG WORLD CHALLENGE CUP AGF TROPHY.</h4>
              <p>Men's / Women's Artistic Gymnastics Day 1.</p>
              <a href="#">Daha çox  &raquo;</a>
            </div>
            <div class="cf"></div>
          </div>
          <div class="footer_news_item">
            <ul class="footer_news_item_date fl">
              <li>20</li>
              <li>Fevral</li>
              <li>2016</li>
            </ul>
            <div class="footer_news_item_line fl"> </div>
            <div class="footer_news_item_info fl">
              <h4>FIG WORLD CHALLENGE CUP AGF TROPHY.</h4>
              <p>Men's / Women's Artistic Gymnastics Day 2.</p>
              <a href="#">Daha çox  &raquo;</a>
            </div>
            <div class="cf"></div>
          </div>
          <div class="footer_news_item">
            <ul class="footer_news_item_date fl">
              <li>21</li>
              <li>Fevral</li>
              <li>2016</li>
            </ul>
            <div class="footer_news_item_line fl"> </div>
            <div class="footer_news_item_info fl">
              <h4>FIG WORLD CHALLENGE CUP AGF TROPHY.</h4>
              <p>Men's / Women's Artistic Gymnastics Final.</p>
              <a href="#">Daha çox  &raquo;</a>
            </div>
            <div class="cf"></div>
          </div>
        </div>-->
        <div class="footer_contacts fl">
          <h1 class="footer_contacts_title"><%= t('contact') %></h1>
          <div class="footer_contacts_item">
            <div class="footer_contacts_item_pic_hours fl"> </div>
            <div class="footer_contacts_item_inf fl">
              <h5><%= t('operatingHoursLabel') %></h5>
              <p><%= t('operatingHours') %></p>
            </div>
            <div class="cf"></div>
          </div>
          <div class="footer_contacts_item">
            <div class="footer_contacts_item_pic_address fl"></div>
            <div class="footer_contacts_item_inf fl">
              <h5><%= t('addressLabel') %></h5>
              <p><%= t('address') %></p>
            </div>
            <div class="cf"></div>
          </div>
          <div class="footer_contacts_item">
            <div class="footer_contacts_item_pic_tel fl"></div>
            <div class="footer_contacts_item_inf fl">
              <h5><%= t('telephone') %></h5>
              <p>+99412 566-96-99
              </p>
            </div>
            <div class="cf"></div>
          </div>
          <div class="footer_contacts_item">
            <div class="footer_contacts_item_pic_fax fl"></div>
            <div class="footer_contacts_item_inf fl">
              <h5><%= t('fax') %></h5>
              <p>+99412 566-99-94
              </p>
            </div>
            <div class="cf"></div>
          </div>
          <div class="footer_contacts_item">
            <div class="footer_contacts_item_pic_email fl"></div>
            <div class="footer_contacts_item_inf fl">
              <h5>EMAIL:</h5>
              <p>info@mga.az</p>
            </div>
            <div class="cf"></div>
          </div>
        </div>
        <div class="cf"></div>
      </div>
    </div>
  </div>
  <div class="social_icons">
    <div class="social_icons_center">
      <h6 class="copyright fl">&copy;2016. All rights reserved. <a href="/<%=I18n.locale%>">Gimnasio.</a></h6>
      <div class="icons_item fr">
        <p class="icons_item_background"><a class="twitter" href="#"></a></p>
        <p class="icons_item_background"><a class="facebook" href="#"></a></p>
        <p class="icons_item_background"><a class="pinterest" href="#"></a></p>
        <p class="icons_item_background"><a class="linkedin" href="#"></a></p>
        <p class="icons_item_background"><a class="skype" href="#"></a></p>
        <p class="icons_item_background"><a class="tumbl" href="#"></a></p>
      </div>
      <div class="cf"></div>
    </div>
  </div>
</footer>
