
<div class="page_header">
  <div class="center">
    <img class="page_header_logo fl" src="/images/events_logo.png" alt="">
    <h1 class="page_header_title fl"><%= t('listofCompetitions') %></h1>
    <ul class="page_header_nav fr">
      <li><a href="/<%=I18n.locale%>" style="color:white"><%= t('mainPage') %></a></li>
      <!--<li><a class="active" href="events.html">Tədbirlər</a></li>-->
    </ul>
    <div class="cf"></div>
  </div>
</div>
<!-- Slider Section Start -->
<div class="flexslider" id="home-slider" >
  <ul class="slides" style="height: 100px;">
    <% @competitions.each { |competition| %>
        <% competition.events.each { |event| %>
            <li style="height: 300px;background-image:url('<%= event.image_url %>'); background-size:cover; background-position:center center;">
              <div class="descr">
                <h2><%= competition.name %></h2>
                <h2><%= event.name %></h2>
                <p><%= event.description %></p>
                <div class="descr_link"><a href="/<%=I18n.locale%>/event/<%= event.id %>"><%= t('aboutEvent') %></a></div>
              </div>
            </li>
        <% } %>
    <% } %>
  </ul>
</div>
<!-- Services Section Start -->


<div class="trainers_content">
  <% @competitions.each_with_index { |competition, index| %>
      <div class="trainers <%= if index.odd? then 'lasttrainer' end %> fl">
        <div class="trainers_pic">
          <img src="<%= competition.image_url %>" alt="">
          <div class="frame_top_left"></div>
          <div class="frame_top_right"></div>
          <div class="frame_bottom_left"></div>
          <div class="frame_bottom_right"></div>
        </div>
        <div class="trainers_info">
          <div style=" height: 250px; overflow-y: scroll">
            <h2 class="trainer_name"><%= competition.name %></h2>
            <p class="trainer_desc"><%= competition.program.html_safe %></p>

          </div>
          <div class="trainer_tariffs">
            <a href="javascript:;"  onclick="$('#tariffs<%= index.to_s %>').css('display','block')"><%= t('events') %></a>
          </div>

          <div class="trainers_tariffs" id="tariffs<%= index.to_s %>">
            <span class="spnEventsHeader"><%= t('events') %></span>
            <ul class="trainers_tariffs_center">
              <% competition.events.where({ IsActive: true }).each_with_index { |event, e_index| %>
                  <li class="trainers_tariffs_info">
                    <h4 class="trainers_tariffs_title fl"><a style="color:white" href="/<%=I18n.locale%>/event/<%= event.id %>"><%= event.name %></a></h4>
                    <p class="trainers_tariffs_price fr"><%= event.datetime.strftime('%B %e at %l:%M %p') %></p>
                    <div class="cf"></div>
                  </li>
                  <li class="trainers_tariffs_line"></li>
              <% } %>

            </ul>
            <div class="trainer_tariffs_close">
              <a href="javascript:;"  onclick="$('#tariffs<%= index.to_s %>').css('display','none')"><%= t('aboutCompetition') %></a>
            </div>
          </div>
        </div>
      </div>
  <% } %>

</div>

  <hr style="color: #fff;"/>
